<div class="wrapper flex-center" style="width: 100%;margin-left: auto;margin-right: auto;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div style="width: 100%;position: relative;" class="box" data-aos="fade-right">
          <div class="title">
            Front-End
          </div>
          <div class="flex-center" style="width: 100%;flex-wrap: wrap;">
            <div style="flex-direction: column;" class="flex-center">
              <div class="img-wrapper">
                <img src="../../../assets/javascript-39404.png" class="skill-logo" alt="">
              </div>
              <div class="grey">Javascript</div>
            </div>
            <div style="flex-direction: column;" class="flex-center">
              <div class="img-wrapper">
                <img src="../../../assets/typescript.png" class="skill-logo" alt="">
              </div>
              <div class="grey">TypeScript</div>
            </div>
            <div style="flex-direction: column;" class="flex-center">
              <div class="img-wrapper">
                <img src="../../../assets/kindpng_4640184.png" class="skill-logo" alt="">
              </div>
              <div class="grey">CSS</div>
            </div>
            <div style="flex-direction: column;" class="flex-center">
              <div class="img-wrapper">
                <img src="../../../assets/SeekPng.com_javascript-logo-png_803527.png" class="skill-logo" alt="">
              </div>
              <div class="grey">HTML</div>
            </div>
            <div style="flex-direction: column;" class="flex-center">
              <div class="img-wrapper">
                <img src="../../../assets/5847ea22cef1014c0b5e4833.png" class="skill-logo" alt="">
              </div>
              <div class="grey">Angular</div>
            </div>
            <div style="flex-direction: column;" class="flex-center">
              <div class="img-wrapper">
                <img src="../../../assets/Bootstrap_logo.svg" class="skill-logo" alt="">
              </div>
              <div class="grey">Bootstrap</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div style="width: 100%;position: relative;" class="box" data-aos="fade-left">
          <div class="title">
            Back-End
          </div>
          <div class="flex-center" style="width: 100%;flex-wrap: wrap;">
            <div style="flex-direction: column;" class="flex-center">
              <div class="img-wrapper">
                <img src="../../../assets/kisspng-node-js-scalable-vector-graphics-javascript-clip-a-31-best-node-js-logo-5b67dacfccd991.8637009115335328798391.png" class="skill-logo" alt="">
              </div>
              <div class="grey">NodeJS</div>
            </div>
            <div style="flex-direction: column;" class="flex-center">
              <div class="img-wrapper">
                <img src="../../../assets/prisma-seeklogo.com.png" class="skill-logo" alt="">
              </div>
              <div class="grey">Prisma</div>
            </div>
            <div style="flex-direction: column;" class="flex-center">
              <div class="img-wrapper">
                <img src="../../../assets/kindpng_6574280.png" class="skill-logo" alt="">
              </div>
              <div class="grey">C#</div>
            </div>
            <div style="flex-direction: column;" class="flex-center">
              <div class="img-wrapper">
                <img src="../../../assets/1796970.png" class="skill-logo" style="min-width: 150px;" alt="">
              </div>
              <div class="grey">Entity Framwork</div>
            </div>
            <div style="flex-direction: column;" class="flex-center">
              <div class="img-wrapper">
                <img src="../../../assets/Expressjs.png" class="skill-logo" style="min-width: 200px;" alt="">
              </div>
              <div class="grey">Express</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div style="width: 100%;position: relative;" class="box" data-aos="fade-left">
          <div class="title">
            Data
          </div>
          <div class="flex-center" style="width: 100%;flex-wrap: wrap;">
            <div style="flex-direction: column;" class="flex-center">
              <div class="img-wrapper">
                <img src="../../../assets/Postgresql_elephant.svg.png" class="skill-logo" alt="">
              </div>
              <div class="grey">PostgreSQL</div>
            </div>
            <div style="flex-direction: column;" class="flex-center">
              <div class="img-wrapper">
                <img src="../../../assets/kindpng_215460.png" class="skill-logo" style="min-width: 100px;" alt="">
              </div>
              <div class="grey">SQL Server</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div style="width: 100%;position: relative;" class="box" data-aos="fade-right">
          <div class="title">
            Infrastructer
          </div>
          <div class="flex-center" style="width: 100%;flex-wrap: wrap;">
            <div style="flex-direction: column;" class="flex-center">
              <div class="img-wrapper">
                <img src="../../../assets/Cloudflare_Logo.png" class="skill-logo" alt="">
              </div>
              <div class="grey">Cloudfare</div>
            </div>
            <div style="flex-direction: column;" class="flex-center">
              <div class="img-wrapper">
                <img src="../../../assets/1200px-Logo-ubuntu_cof-orange-hex.svg.png" class="skill-logo" alt="">
              </div>
              <div class="grey">Ubuntu</div>
            </div>
            <div style="flex-direction: column;" class="flex-center">
              <div class="img-wrapper">
                <img src="../../../assets//kisspng-nginx-phusion-passenger-application-software-proxy-5b661f40464ec8.620486801533419328288.png" class="skill-logo" alt="">
              </div>
              <div class="grey">Nginx</div>
            </div>
            <div style="flex-direction: column;" class="flex-center">
              <div class="img-wrapper">
                <img src="../../../assets/SeekPng.com_iss-png_3603361.png" style="max-width: 120px;" class="skill-logo" alt="">
              </div>
              <div class="grey">IIS</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div style="width: 100%;position: relative;" class="box" data-aos="fade-right">
          <div class="title">
            Others
          </div>
          <div class="flex-center" style="width: 100%;flex-wrap: wrap;">
            <div style="flex-direction: column;" class="flex-center">
              <div class="img-wrapper">
                <img src="../../../assets/Git-Icon-1788C.png" class="skill-logo" alt="">
              </div>
              <div class="grey">Git</div>
            </div>
            <div style="flex-direction: column;" class="flex-center">
              <div class="img-wrapper">
                <img src="../../../assets/atlassian_jira_logo_icon_170511.png" class="skill-logo" alt="">
              </div>
              <div class="grey">Jira</div>
            </div>
            <div style="flex-direction: column;" class="flex-center">
              <div class="img-wrapper">
                <img src="../../../assets/clipart193109.png" class="skill-logo" alt="">
              </div>
              <div class="grey">Teams</div>
            </div>
            <div style="flex-direction: column;" class="flex-center">
              <div class="img-wrapper">
                <img src="../../../assets/768px-Stack_Overflow_icon.svg.png" class="skill-logo" alt="">
              </div>
              <div class="grey">Stack Overflow</div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div style="width: 100%;position: relative;" class="box" data-aos="fade-left">
          <div class="title">
            Soft skills
          </div>
          <ul>
            <li>
              <div class="grey">Fair knowledge of English</div>
            </li>
            <li>
              <div class="grey">Systematic Thinking and Flexible</div>

            </li>
            <li>
              <div class="grey">Fast Learner</div>
            </li>
            <li>
              <div class="grey">Adaptability</div>
            </li>
            <li>
              <div class="grey">Friendly</div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
