<div class="nav">
  <div class="left-side">
    <div class="">
      <img style="width: 50px;margin-right: 5px;" src="../../../assets/house.png" alt="">
    </div>
    <div class="name">Redix Concept</div>
  </div>
  <div class="right-side">
    <div class="menu">
      service
    </div>
    <div class="menu">
      service
    </div>
    <div class="menu">
      service
    </div>
    <div class="menu">
      service
    </div>
    <div class="hamburger">
      <i class="fas fa-bars"></i>
    </div>
  </div>
</div>
