<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="card-1">
        <div class="banner">
          <img src="../../../../assets/ironman.jpg" alt="" class="img-responsive">
        </div>
        <div class="body">
          <div class="header">
            <div class="title">Tony Stark</div>
            <div class="sub-title">Iron-man</div>
          </div>
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
          <div class="action">
            <div class="button">Action</div>
            <div class="button">Action</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card-2">
        <div class="action-top">
          <div>
            <i class="fa-solid fa-arrow-left"></i>
          </div>
          <div style="display: flex;align-items: center;justify-content: flex-end;">
            <i class="fa-regular fa-heart" style="margin-right: 10px"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>
        </div>
        <div class="body">
          <img parallax [config]="{initialValue: -100, ratio: .7}" src="../../../../assets/mile.png" alt="" class="img-responsive avatar">
          <div class="title">Miles Morales</div>
          <div class="sub-title">Spider-Man</div>
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
          <div class="btn-grad">
            Hire me
          </div>
        </div>
        <hr>
        <div class="action-bot">
          <div class="social-item">
            <div class="item-1">
              <i class="fa-brands fa-react"></i>
            </div>
            <div class="caption">
              React
            </div>
          </div>
          <div class="social-item">
            <div class="item-2">
              <i class="fa-brands fa-angular"></i>
            </div>
            <div class="caption">
              Angular
            </div>
          </div>
          <div class="social-item">
            <div class="item-3">
              <i class="fa-brands fa-vuejs"></i>
            </div>
            <div class="caption">
              Vue
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card-3">
        <div class="banner"></div>
        <div class="body">
          <img src="../../../../assets/mr kni.png" alt="" class="img-responsive avatar">
          <div class="title">Steven Grant</div>
          <div class="sub-title">Mr. Knight</div>
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
        </div>
        <div class="action">
          <div class="btn-grad">
            Hire me
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
