<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-xs-12" style="">
        บริการออกแบบเว็บไซท์ ราคาถูก เริ่มต้นที่ 3,500 บาท
      </div>
      <div class="col-md-5">
        <div [innerHTML]="banner"></div>
      </div>
    </div>
  </div>
</div>
<div class="section2" style="margin-top: -75px;">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-6" style="display: flex;justify-content: center;padding: 10px;">
        <div class="box">
          <div><i class="fas fa-pencil-alt"></i></div>
          <div style="font-size: 12px;">พัฒนาเว็บไซท์</div>
        </div>
      </div>
      <div class="col-md-3 col-6" style="display: flex;justify-content: center;padding: 10px">
        <div class="box">
          <div><i class="fas fa-pencil-alt"></i></div>
          <div style="font-size: 12px;">พัฒนาเว็บไซท์</div>
        </div>
      </div>
      <div class="col-md-3 col-6" style="display: flex;justify-content: center;padding: 10px">
        <div class="box">
          <div><i class="fas fa-pencil-alt"></i></div>
          <div style="font-size: 12px;">พัฒนาเว็บไซท์</div>
        </div>
      </div>
      <div class="col-md-3 col-6" style="display: flex;justify-content: center;padding: 10px">
        <div class="box">
          <div><i class="fas fa-pencil-alt"></i></div>
          <div style="font-size: 12px;">พัฒนาเว็บไซท์</div>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="section3" style="padding: 48px 0;">
  <div class="container">
    <div>ทำไมถึงต้องใช้ Fastwork?</div>
    <div style="font-size: 28px;color: #FF725E;">
      เพราะเราเปลี่ยนไอเดียของคุณให้เป็นความจริง ด้วยฟรีแลนซ์มืออาชีพ
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-12" style="display: flex;flex-direction: column;align-items: center;">
        <div style="width: 300px;">
          <div [innerHTML]="browser"></div>
        </div>
        <div style="font-size: 20px;margin-top: 16px;">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
      <div class="col-md-6 col-xs-12" style="display: flex;flex-direction: column;align-items: center;">
        <div style="width: 300px;">
          <div [innerHTML]="mobile"></div>
        </div>
        <div style="font-size: 20px;margin-top: 16px;">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>
  </div>

</div>
<div class="section4">
  <div class="container">
    <div>Our Tech Stack</div>
    <div style="font-size: 28px;color: #FF725E;">
      เพราะเราเปลี่ยนไอเดียของคุณให้เป็นความจริง ด้วยฟรีแลนซ์มืออาชีพ
    </div>
    <app-infinite-slide></app-infinite-slide>
  </div>
</div>
<div class="section5">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-12">หากคุณสนใจ โปรดติดต่อเรา
        <div [innerHTML]="ready"> </div>
      </div>
      <div class="col-md-7 col-12">
        <div style="background-color: white;border-radius: 20px;height: 400px;">
          <div class="container-fluid" style="padding-top: 20px;padding-bottom: 20px;height: 100%;">
            <div class="row">
              <div class="col-12">ss</div>
            </div>
            <div class="row">
              <div class="col-12">ss</div>
            </div>
            <div class="row">
              <div class="col-12">ss</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
