/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
html {
  font-size: 16px;

}
body{
  margin: 0px !important;
  font-family: 'Kanit','Roboto', sans-serif !important;
}
